AUTH_SECRET="your_auth_secret" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_COGNITO_ID=your_cognito_app_client_id
AUTH_COGNITO_SECRET=your_cognito_app_client_secret
AUTH_COGNITO_ISSUER= your_cognito_app_client_secret # constructed as follows https://cognito-idp.{region}.amazonaws.com/{pool_id}

STRANDS_AGENT_URL= your_strands_agent_on_bedcore # constructed as follows https://bedrock-agentcore.{region}.amazonaws.com/runtimes/{agent_arn_escaped}/invocations?qualifier=DEFAULT
