AUTH_COGNITO_ID=${CLIENT_ID}
AUTH_COGNITO_SECRET=${CLIENT_SECRET}
AUTH_COGNITO_ISSUER= https://cognito-idp.${AWS_REGION}.amazonaws.com/${USER_POOL_ID}

STRANDS_AGENT_URL= https://bedrock-agentcore.${AWS_REGION}.amazonaws.com/runtimes/${AGENT_ARN_ESCAPED}/invocations?qualifier=DEFAULT
