AWS_REGION=us-west-2
AWS_ACCOUNT_ID=
REGISTRY_ID=
REGISTRY_CP_ENDPOINT=https://bedrock-agentcore-control.us-west-2.amazonaws.com
REGISTRY_DP_ENDPOINT=https://bedrock-agentcore.us-west-2.amazonaws.com
